<%= form_for(@song) do |f| %>
  <label>Song name:</label><br>
  <%= f.text_field :name %><br>

  <label>Post Description</label><br>
  <%= f.number_field :description %><br>

  <%= f.submit %>
<% end %>
